rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access to authenticated users
    match /{document=**} {
      allow read: if request.auth != null;
    }
    
    // Allow write access only to authenticated users and only for their own data
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }
    
    // Define other collections' security rules as needed
    // match /collection_name/{documentId} { ... }
  }
}